# Project specific
mug-matcher/*
!mug-matcher/data/
!mug-matcher/scripts/
!mug-matcher/docs/
!mug-matcher/package.json
!mug-matcher/README.md

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/


# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 

../cursor_docs
